@model GymAdmin.Models.AddAttendanceViewModel 
@{


}

<!-- GymAdmin style -->
<link rel="stylesheet" type="text/css" href="~/css/forms.css" />
<link rel="stylesheet" type="text/css" href="~/css/Account/Register.css" />
<link rel="stylesheet" type="text/css" href="~/css/Account/EditUser.css" />
<link rel="stylesheet" type="text/css" href="~/css/Account/ViewUser.css" />
<link rel="stylesheet" type="text/css" href="~/css/tables.css" />
<link rel="stylesheet" type="text/css" href="~/css/User/Users.css" />

<style>
    .fa-ban,
    .fa-circle-check {
        padding-right: 5px;
    }

    .GymAdminEditButton {
        border-color: #FFC107;
    }

        .GymAdminEditButton:hover {
            color: black;
        }

        .GymAdminEditButton a {
            color: #FFC107;
        }

            .GymAdminEditButton a:hover {
                color: black;
            }

    .GymAdminDeleteButton {
        border-color: #DC3545;
        color: #DC3545;
    }

        .GymAdminDeleteButton:hover {
            background-color: #DC3545;
            color: black;
        }

        .GymAdminDeleteButton a {
            color: #DC3545;
        }

            .GymAdminDeleteButton a:hover {
                color: black;
            }

    #MyTable th, .td_option {
        text-align: center;
    }

    td {
        color: white;
    }
</style>

<!-- View contract page -->
<div id="GymAdminPrincipalContainer">
    <div class="row" id="GymAdminRegisterFormElementsContainer">
        <div class="col-md-12" id="GymAdminFieldsContainer">
            <input type="hidden" asp-for="Id" >
            <input type="hidden" asp-for="Users">
             <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <form asp-action="Create" id="GymAdminForm">
                <div class="row">
                        <!-- Field -->
                      
                    
           
                    @if (Model.Username == null)
                    {
                        <div class="form-group GymAdminFormElement">
                            <label asp-for="Username" class="control-label GymAdminFormLabel"></label>
                            <input id="searchUser" type="search" list="usersList" asp-for="Username" class="GymAdminFormInput" autocomplete="off" />
                            <datalist id="usersList">
                                @foreach (var pro in Model.Users)
                                {
                                    <option value="@pro.Value">@pro.Text</option>
                                }
                            </datalist>
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                         <button type="submit" class="GymAdminFormButton">
                       Registrar
                    </button>
                    } else
                    {
                    
                    }

                <!-- Buttons and links -->
                   
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
<script type="text/javascript">
    $(document).ready(function (){
        $("#searchUser").attr("value", @Model.Username);
    });

    $("#searchUser").on("input", function (){
        var selected = $(this).val();
        $(this).attr("value", selected);
    });
</script>
}

