@model GymAdmin.Models.SetScheduleViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<!-- GymAdmin style -->
<link rel="stylesheet" type="text/css" href="~/css/forms.css" />
<link rel="stylesheet" type="text/css" href="~/css/Account/Register.css" />
<link rel="stylesheet" type="text/css" href="~/css/Account/EditUser.css" />

<flash dismissable="true" />

<!-- Edit form -->
<div id="GymAdminPrincipalContainer">
    <div class="row" id="GymAdminRegisterFormElementsContainer">
        <div class="col-md-12" id="GymAdminFieldsContainer">
            <form asp-action="EditSchedule" id="GymAdminForm" onsubmit="return jQueryAjaxPost(this);">
                <!-- Hidden inputs -->
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="ProfessionalId" />
                <!-- Validation summary -->
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <!-- Left column -->
                    <div class="col-md-6 GymAdminFormColumn">
                        <!-- Field -->
                        <div class="form-group GymAdminFormElement">
                            <label asp-for="StartHour" class="control-label GymAdminFormLabel"></label>
                            <input type="time" asp-for="StartHour" value="@Model.StartHour" class="GymAdminFormInput" />
                            <span asp-validation-for="StartHour" class="text-danger"></span>
                        </div>
                        <!-- Field -->
                        <div class="form-group GymAdminFormElement">
                            <label asp-for="FinishHour" class="control-label GymAdminFormLabel"></label>
                            <input type="time" asp-for="FinishHour" value="@Model.FinishHour" class="GymAdminFormInput" />
                            <span asp-validation-for="FinishHour" class="text-danger"></span>
                        </div>
                    </div>
                    <!-- Right column -->
                    <div class="col-md-6 GymAdminFormColumn">
                        <!-- Field -->
                        @{
                            var Days = Html.GetEnumSelectList<DayOfWeek>();
                            foreach (var Day in Days)
                            {
                                if (Day.Text == "Monday")
                                {
                                    Day.Text = "Lunes";
                                }
                                else if (Day.Text == "Tuesday")
                                {
                                    Day.Text = "Martes";
                                }
                                else if (Day.Text == "Wednesday")
                                {
                                    Day.Text = "Miércoles";
                                }
                                else if (Day.Text == "Thursday")
                                {
                                    Day.Text = "Jueves";
                                }
                                else if (Day.Text == "Friday")
                                {
                                    Day.Text = "Viernes";
                                }
                                else if (Day.Text == "Saturday")
                                {
                                    Day.Text = "Sábado";
                                }
                                else if (Day.Text == "Sunday")
                                {
                                    Day.Text = "Domingo";
                                }
                            }
                        }
                        <div class="form-group GymAdminFormElement">
                            <label asp-for="Day" class="control-label GymAdminFormLabel"></label>
                            <select asp-for="Day" asp-items="@Days" value="@Model.Day" class="GymAdminFormCombobox"></select>
                            <span asp-validation-for="Day" class="text-danger"></span>
                        </div>
                        <!-- Buttons and links -->
                        <div class="GymAdminRegisterFormButtons form-group">
                            <input type="submit" value="Guardar cambios" class="GymAdminFormButton GymAdminFormElement GymAdminFormLabel GymAdminRegisterFormButton" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Scripts -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
