@model IEnumerable<GymAdmin.Data.Entities.Professional>

@{
    ViewData["Title"] = "Professionals";
}

<!-- GymAdmin style -->
<link rel="stylesheet" type="text/css" href="~/css/tables.css" />
<link rel="stylesheet" type="text/css" href="~/css/User/Users.css" />

<style>
    a .fa-user-tie, a .fa-calendar {
        padding-right: 5px;
    }

    h3 .fa-dumbbell {
        padding-right: 0;
        padding-left: 10px;
    }

    #MyTable th, .td_option {
        text-align: center;
    }
</style>

<flash dismissable="true" />

<!-- Professionals -->
<div class="row">
    <div class="col-md-12 GymAdminTableContainer">
        <div class="panel panel-default">
            <div class="panel-heading GymAdminTableHeading">
                <h3 class="panel-title GymAdminTableTitle">Profesionales<i class="fa-solid fa-dumbbell"></i></h3>
                <div>
                    <button disable class="GymAdminFormButton">
                        <a asp-action="CreateProfessional" asp-controller="Service" class="GymAdminFormElement GymAdminFormLabel"><i class="fa-solid fa-user-tie"></i>Crear profesional</a>
                    </button>
                    <button disable class="GymAdminFormButton">
                        <a onclick="showInPopup('@Url.Action("EditProfessional", "Service", new{}, Context.Request.Scheme)' , 'Asignar profesional')" class="GymAdminFormElement GymAdminFormLabel"><i class="fa-solid fa-user-tie"></i>Asignar profesional</a>
                    </button>
                </div>
            </div>
            <div class="panel-body GymAdminTable">
                <div id="view-all">
                    @await Html.PartialAsync("_ViewAllProfessionals", Model)
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_DeleteDialog" />

<!-- Scripts -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        $(document).ready(function() {
            $('#MyTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "aLengthMenu": [
                    [15, 30, 60, 120, -1],
                    [15, 30, 60, 120, "Todos"]
                ]
            });
        });
    </script>
    <script>
        sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Service/DeleteProfessional/', false);
    </script>
    }
