<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- View data -->
    <title>@ViewData["Title"] - GymAdmin</title>

    <!-- Libraries -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/datatables/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/lib/jqueryui/jquery-ui.min.css" />

    <!-- Default style -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/scrollbar.css" />

    <!-- GymAdmin style -->
    <link rel="stylesheet" type="text/css" href="~/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="~/css/contact.css" />
    <link rel="stylesheet" type="text/css" href="~/css/modal.css" />

    <!-- Icons style -->
    <style>
        .fa-user,
        .fa-arrow-right-from-bracket {
            padding-right: 5px;
        }
    </style>
</head>

<body>
    <!-- Header -->
    <header id="body-header">
        <nav class="GymAdminHeader navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
            <div class="container-fluid">
                <!-- Header brand -->
                <a class="GymAdminHeaderBrand text-white" asp-area="" asp-controller="Home" asp-action="Index">GymAdmin</a>
                <!-- Header menu -->
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <!-- Header left menu -->
                    <div class="left-nav">
                        <!-- Header brand -->
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <!-- Admin options -->
                            <div class="dropdown-gymadmin">
                                <span class="admin-link">Administración</span>
                                <div class="dropdown-content-gymadmin">
                                    <a class="admin-link" asp-area="" asp-controller="User" asp-action="Index">Usuarios</a>
                                    <a class="admin-link" asp-area="" asp-controller="Service" asp-action="Index">Servicios</a>
                                    <a class="admin-link" asp-area="" asp-controller="Service" asp-action="ShowProfessionals">Profesionales</a>
                                    <a class="admin-link" asp-area="" asp-controller="Contracts" asp-action="Index">Contrataciones</a>
                                    <a class="admin-link" asp-area="" asp-controller="Attendance" asp-action="Index">Asistencias</a>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- Header right menu -->
                    <ul class="right-menu navbar-nav justify-content-end flex-grow-1">
                        <!-- Services option -->
                        <li class="nav-item">
                            <a class="GymAdminHeaderLink  text-white" asp-area="" asp-controller="Home" asp-action="Professionals">Servicios adicionales</a>
                        </li>
                        <!-- Events option -->
                        <li class="nav-item">
                            <a class="GymAdminHeaderLink  text-white" asp-area="" asp-controller="Home" asp-action="Events">Eventos grupales</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            var nombreUsuario = User.Identity.Name.Substring(0, User.Identity.Name.Length - 12);
                            nombreUsuario = nombreUsuario.Substring(0, 1).ToUpper() + nombreUsuario.Substring(1).ToLower();
                            <!-- View user option -->
                            <li class="nav-item">
                                <a class="GymAdminHeaderLink  text-white" asp-area="" asp-controller="Account" asp-action="ViewUser"><i class="fa-solid fa-user"></i>@nombreUsuario</a>
                            </li>
                            <!-- Logout option -->
                            <li class="nav-item">
                                <a class="GymAdminHeaderLink  text-white" asp-area="" asp-controller="Account" asp-action="Logout"><i class="fa-solid fa-arrow-right-from-bracket"></i>Cerrar sesión</a>
                            </li>
                        }
                        else
                        {
                            <!-- Login and register options -->
                            <li class="nav-item">
                                <a class="GymAdminHeaderLink  text-white" asp-area="" asp-controller="Account" asp-action="Login">Ingresar</a>
                            </li>
                            <li class="nav-item">
                                <a class="GymAdminHeaderLink  text-white" asp-area="" asp-controller="Account" asp-action="Register">Registrarse</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Razor view body -->
    <div class="container" id="body-container">
        <main role="main" class="pb-3">
            <partial name="_BusyIndicatorPartial" />
            @RenderBody()
            <div class="modal fade in" tabindex="-1" role="dialog" data-bs-backdrop="static" id="form-modal">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"></h5>
                            <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body">
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>

    <!-- Contact -->
    <footer id="contact">
        <div class="contenedor">
            <h2>CONTÁCTANOS</h2>
            <div class="info">
                <p><i class="fas fa-phone-alt"></i>(+57) 311 456 9860</p>
                <a href="mailto:soporte@gymadmin.com" class="mail"><i class="fas fa-envelope"></i>soporte@gymadmin.com</a>
            </div>
            <a class="Privacy" asp-area="" asp-controller="Home" asp-action="Privacy">PRIVACIDAD</a>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jasny-bootstrap/js/jasny-bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/showmodal.js"></script>
    
    <script>
        function displayBusyIndicator() {
            $('.loading').show();
        }
    </script>
    <script>
        $(window).on('beforeunload', function() {
            displayBusyIndicator();
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function() {
            var height = $(window).height() - $('#body-header').height() - 40;
            $('#body-container').css('min-height', height);
        });
    </script>
</body>
</html>
