@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<!-- GymAdmin style -->
<link rel="stylesheet" type="text/css" href="~/css/forms.css" />
<link rel="stylesheet" type="text/css" href="~/css/Home/Error.css">

<div id="GymAdminPrincipalContainer">
    <div class="row" id="GymAdminRegisterFormElementsContainer">
        <div class="col-md-12" id="GymAdminFieldsContainer">
            <form asp-action="" id="GymAdminForm">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-danger">Error</h1>
                        <h2 class="text-danger">Se ha producido un error al procesar la solicitud</h2>

                        @if (Model.ShowRequestId)
                        {
                            <p>
                                <strong>ID de la solicitud:</strong> <code>@Model.RequestId</code>
                            </p>
                        }

                        <h3>Modo de desarrollo</h3>
                        <p>
                            Cambiar al entorno de <strong>Desarrollo</strong> mostrará información más detallada sobre el error que se produjo.
                        </p>
                        <p>
                            <strong>El entorno de Desarrollo no debe habilitarse para las aplicaciones implementadas.</strong>
                            Puede resultar mostrando información confidencial de excepciones a los usuarios finales.
                            Para la depuración local, habilite el entorno de <strong>Desarrollo</strong> configurando la variable de entorno <strong>ASPNETCORE_ENVIRONMENT</strong> a <strong>Desarrollo</strong>
                            y reiniciando la aplicación.
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>