@{
    ViewData["Title"] = "Error";
}

<!-- GymAdmin style -->
<link rel="stylesheet" type="text/css" href="~/css/forms.css" />
<link rel="stylesheet" type="text/css" href="~/css/Account/Messages.css">

<div id="GymAdminPrincipalContainer">
    <div class="row" id="GymAdminRegisterFormElementsContainer">
        <div class="col-md-12" id="GymAdminFieldsContainer">
            <form asp-action="" id="GymAdminForm">
                <!-- Message -->
                <div class="row">
                    <div class="col-md-12" style="text-align:center;">
                        <h2 style="color:#f2c60d;margin-bottom:20px;">¡Página no encontrada!</h2>
                        <img src="~/images/notfound.png" width="300" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>