@{
    ViewData["title"] = "Events";
}

<!-- GymAdmin style -->
<link rel="stylesheet" type="text/css" href="~/css/Home/InfoPages.css" />
<link rel="stylesheet" type="text/css" href="~/css/big-titles.css" />

<div class="professionals-container">
    <h2>EVENTOS GRUPALES</h2>
    <section id="professionals-description">
        <!-- Cardio -->
        <div class="description-container">
            <div class="description-header">
                <img src="~/images/home/events/events-cardio-header.jpg" alt="" />
            </div>
            <div class="description-text">
                <h3>Cardio</h3>
                <p>El cardio ayuda a quemar muchas calorías, acelera nuestro metabolismo y mejora nuestro Índice de Masa Corporal (IMC). Realizar ejercicios cardio de forma regular nos ayudará a mantener nuestro peso ideal.<br /><br />Ven a entrenar con nosotros realizando ejercicios cardio para que tu cuerpo pueda controlar mucho mejor la presión arterial y pueda fortalecer tu sistema inmunológico para permitirte tener un organismo sano.<br /><br /><span class="info-final">Si tienes el Plan Black puedes acceder de forma gratuita a este evento.</span></p>
                <a class="serviceLink" href="#">Quiero inscribirme a este evento</a>
            </div>
        </div>
        <div class="images-container">
            <div class="image-container photo">
                <img class="img-hover" src="~/images/home/events/events-cardio1.jpg" alt="" />
                <div class="dark-backdrop-hidden">
                </div>
            </div>
            <div class="image-container photo image-container-medium">
                <img class="img-hover" src="~/images/home/events/events-cardio2.jpg" alt="" />
                <div class="dark-backdrop-hidden">
                </div>
            </div>
            <div class="image-container photo">
                <img class="img-hover" src="~/images/home/events/events-cardio3.jpg" alt="" />
                <div class="dark-backdrop-hidden">
                </div>
            </div>
        </div>
        <!-- Body Balance -->
        <div class="description-container">
            <div class="description-header">
                <img src="~/images/home/events/events-women-header.jpg" alt="" />
            </div>
            <div class="description-text">
                <h3>Body Balance</h3>
                <p>El equilibrio es la capacidad de mantenerse estático o en reposo sin permitir que ninguna fuerza externa afecte nuestra posición. El equilibrio corporal mide la capacidad de nuestro sistema nervioso central.<br /><br />Los ejercicios para entrenar el equilibrio también nos sirven para corregir la postura y la trayectoria de la columna vertebral las cuales suelen ser la causa de muchos dolores corporales.<br /><br /><span class="info-final">Si tienes el Plan Black puedes acceder de forma gratuita a este evento.</span></p>
                <a class="serviceLink" href="#">Quiero inscribirme a este evento</a>
            </div>
        </div>
        <div class="images-container">
            <div class="image-container photo">
                <img class="img-hover" src="~/images/home/events/events-women1.jpg" alt="" />
                <div class="dark-backdrop-hidden">
                </div>
            </div>
            <div class="image-container photo image-container-medium">
                <img class="img-hover" src="~/images/home/events/events-women2.jpg" alt="" />
                <div class="dark-backdrop-hidden">
                </div>
            </div>
            <div class="image-container photo">
                <img class="img-hover" src="~/images/home/events/events-women3.jpg" alt="" />
                <div class="dark-backdrop-hidden">
                </div>
            </div>
        </div>
        <!-- Yoga -->
        <div class="description-container">
            <div class="description-header">
                <img src="~/images/home/events/events-yoga-header.jpg" alt="" />
            </div>
            <div class="description-text">
                <h3>Yoga</h3>
                <p>El yoga es una práctica que conecta el cuerpo, la respiración y la mente. Esta práctica utiliza posturas físicas, ejercicios de respiración y meditación para mejorar la salud general.<br /><br />El yoga se desarrolló como una práctica espiritual hace miles de años. Hoy en día la mayoría de las personas en occidente hace yoga como ejercicio y para reducir el estrés. Ven a reducir tu estrés con nosotros.<br /><br /><span class="info-final">Si tienes el Plan Black puedes acceder de forma gratuita a este evento.</span></p>
                <a class="serviceLink" href="#">Quiero inscribirme a este evento</a>
            </div>
        </div>
        <div class="images-container">
            <div class="image-container photo">
                <img class="img-hover" src="~/images/home/events/events-yoga1.jpg" alt="" />
                <div class="dark-backdrop-hidden">
                </div>
            </div>
            <div class="image-container photo image-container-medium">
                <img class="img-hover" src="~/images/home/events/events-yoga2.jpg" alt="" />
                <div class="dark-backdrop-hidden">
                </div>
            </div>
            <div class="image-container photo">
                <img class="img-hover" src="~/images/home/events/events-yoga3.jpg" alt="" />
                <div class="dark-backdrop-hidden">
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Scripts -->
@section Scripts {
<script src="~/js/gallery-effect.js"></script>
}
