@{
    ViewData["title"] = "Gallery";
}

<!-- GymAdmin style -->
<link rel="stylesheet" type="text/css" href="~/css/Home/Gallery.css" />
<link rel="stylesheet" type="text/css" href="~/css/big-titles.css" />

<div class="gallery-container">
    <h2>GALERÍA DE EVENTOS</h2>
    <!-- Gallery -->
    <section id="gallery">
        <div class="events-gallery">
            <!-- Header 1 -->
            <h3>Cardio</h3>
            <div id="header1" class="events-gallery-header">
                <!-- Header image -->
                <div class="photo">
                    <img src="~/images/home/events/events-cardio-header.jpg" alt="" />
                </div>
            </div>
            <!-- Images 1 -->
            <div class="events-gallery-images">
                <!-- Image -->
                <div id="photo1" class="photo">
                    <img class="img-hover" src="~/images/home/events/events-cardio1.jpg" alt="" />
                    <div class="dark-backdrop-hidden">
                    </div>
                </div>
                <!-- Image -->
                <div id="photo2" class="photo">
                    <img class="img-hover" src="~/images/home/events/events-cardio2.jpg" alt="" />
                    <div class="dark-backdrop-hidden">
                    </div>
                </div>
                <!-- Image -->
                <div id="photo3" class="photo">
                    <img class="img-hover" src="~/images/home/events/events-cardio3.jpg" alt="" />
                    <div class="dark-backdrop-hidden">
                    </div>
                </div>
                <!-- Image -->
                <div id="photo4" class="photo">
                    <img class="img-hover" src="~/images/home/events/events-cardio4.jpg" alt="" />
                    <div class="dark-backdrop-hidden">
                    </div>
                </div>
            </div>
        </div>
        <div class="events-gallery">
            <!-- Header 2 -->
            <h3>Body Balance</h3>
            <div id="header2" class="events-gallery-header">
                <!-- Header image -->
                <div class="photo">
                    <img src="~/images/home/events/events-women-header.jpg" alt="" />
                </div>
            </div>
            <!-- Images 2 -->
            <div class="events-gallery-images">
                <!-- Image -->
                <div id="photo1" class="photo">
                    <img class="img-hover" src="~/images/home/events/events-women1.jpg" alt="" />
                    <div class="dark-backdrop-hidden">
                    </div>
                </div>
                <!-- Image -->
                <div id="photo2" class="photo">
                    <img class="img-hover" src="~/images/home/events/events-women2.jpg" alt="" />
                    <div class="dark-backdrop-hidden">
                    </div>
                </div>
                <!-- Image -->
                <div id="photo3" class="photo">
                    <img class="img-hover" src="~/images/home/events/events-women3.jpg" alt="" />
                    <div class="dark-backdrop-hidden">
                    </div>
                </div>
                <!-- Image -->
                <div id="photo4" class="photo">
                    <img class="img-hover" src="~/images/home/events/events-women4.jpg" alt="" />
                    <div class="dark-backdrop-hidden">
                    </div>
                </div>
            </div>
        </div>
        <div id="last-event-gallery" class="events-gallery">
            <!-- Header 3 -->
            <h3>Yoga</h3>
            <div id="header3" class="events-gallery-header">
                <!-- Header image -->
                <div class="photo">
                    <img src="~/images/home/events/events-yoga-header.jpg" alt="" />
                </div>
            </div>
            <!-- Images 3 -->
            <div class="events-gallery-images">
                <!-- Image -->
                <div id="photo1" class="photo">
                    <img class="img-hover" src="~/images/home/events/events-yoga1.jpg" alt="" />
                    <div class="dark-backdrop-hidden">
                    </div>
                </div>
                <!-- Image -->
                <div id="photo2" class="photo">
                    <img class="img-hover" src="~/images/home/events/events-yoga2.jpg" alt="" />
                    <div class="dark-backdrop-hidden">
                    </div>
                </div>
                <!-- Image -->
                <div id="photo3" class="photo">
                    <img class="img-hover" src="~/images/home/events/events-yoga3.jpg" alt="" />
                    <div class="dark-backdrop-hidden">
                    </div>
                </div>
                <!-- Image -->
                <div id="photo4" class="photo">
                    <img class="img-hover" src="~/images/home/events/events-yoga4.jpg" alt="" />
                    <div class="dark-backdrop-hidden">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Scripts -->
@section Scripts {
<script src="~/js/gallery-effect.js"></script>
}
