@{
    ViewData["Title"] = "Home";
}

<!-- GymAdmin style -->
<link rel="stylesheet" type="text/css" href="~/css/Home/Index.css" />

<div class="home-container text-center text-white">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
