@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- View data -->
    <title>GymAdmin</title>

    <!-- Libraries -->
    <link rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/all.min.css" />

    <!-- GymAdmin style -->
    <link rel="stylesheet" type="text/css" href="~/css/Home/Index.css" />
</head>

<body>
    <!-- Position absolute elements -->
    <div id="Unete">
        <a asp-area="" asp-controller="Account" asp-action="Register">ÚNETE A GYMADMIN</a>
    </div>

    <div class="video">
        <video id="background-video" autoplay loop muted poster="~/vids/poster.png">
            <source src="~/vids/video.mp4" type="video/mp4">
        </video>
    </div>

    <!-- Header -->
    <header>
        <div class="contenedor">
            <div class="menu">
                <div></div>
                <nav>
                    <ul>
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="Login">Ingresar</a></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="Register">Registrarse</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="titular">
            <h1>COMIENZA A ENTRENAR<br />CON NOSOTROS</h1>
        </div>
    </header>

    <!-- Info cards -->
    <section id="tarjetas">
        <div class="contenedor">
            <div class="contenedor-tarjetas">
                <div class="tarjeta" id="tarjeta1">
                    <img src="~/images/home/index/card-icon1.png" width="100" alt="" />
                    <h3>CARDIO</h3>
                    <p>Alienum phaedrum torquatos nec eu, vis detraxit periculis exnihil.</p>
                </div>
                <div class="tarjeta" id="tarjeta2">
                    <img src="~/images/home/index/card-icon2.png" width="100" alt="" />
                    <h3>RESISTENCIA</h3>
                    <p>Alienum phaedrum torquatos nec eu, vis detraxit periculis exnihil.</p>
                </div>
                <div class="tarjeta" id="tarjeta3">
                    <img src="~/images/home/index/card-icon3.png" width="100" alt="" />
                    <h3>FUERZA</h3>
                    <p>Alienum phaedrum torquatos nec eu, vis detraxit periculis exnihil.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Plans -->
    <section id="plans">
        <h2 class="plans-title">ELIGE TU <span>PLAN</span></h2>
        <div class="contenedor">
            <div class="plan">
                <div class="plan-head plan-head-div">
                    <p>PLAN</p>
                    <h3>TIQUETERA</h3>
                </div>
                <div class="plan-price">
                    <p>DESDE</p>
                    <h3>$ 14.900</h3>
                    <hr />
                </div>
                <div class="plan-description">
                    <p>Alienum phaedrum torquatos nec eu</p>
                    <p>Alienum phaedrum torquatos nec eu</p>
                    <p>Alienum phaedrum torquatos nec eu</p>
                    <p>Alienum phaedrum torquatos nec eu</p>
                    <p>Alienum phaedrum torquatos nec eu</p>
                    <p>Alienum phaedrum torquatos nec eu</p>
                </div>
                <a href="#">Inscríbete</a>
            </div>
            <div class="plan">
                <div class="plan-black-head plan-head-div">
                    <p>PLAN</p>
                    <h3>BLACK</h3>
                </div>
                <div class="plan-price">
                    <p>DESDE</p>
                    <h3>$ 69.900</h3>
                    <hr />
                </div>
                <div class="plan-description">
                    <p>Alienum phaedrum torquatos nec eu</p>
                    <p>Alienum phaedrum torquatos nec eu</p>
                    <p>Alienum phaedrum torquatos nec eu</p>
                    <p>Alienum phaedrum torquatos nec eu</p>
                    <p>Alienum phaedrum torquatos nec eu</p>
                    <p>Alienum phaedrum torquatos nec eu</p>
                </div>
                <a href="#">Inscríbete</a>
            </div>
            <div class="plan">
                <div class="plan-head plan-head-div">
                    <p>PLAN</p>
                    <h3>REGULAR</h3>
                </div>
                <div class="plan-price">
                    <p>DESDE</p>
                    <h3>$ 49.000</h3>
                    <hr />
                </div>
                <div class="plan-description">
                    <p>Alienum phaedrum torquatos nec eu</p>
                    <p>Alienum phaedrum torquatos nec eu</p>
                    <p>Alienum phaedrum torquatos nec eu</p>
                    <p>Alienum phaedrum torquatos nec eu</p>
                    <p>Alienum phaedrum torquatos nec eu</p>
                    <p>Alienum phaedrum torquatos nec eu</p>
                </div>
                <a href="#">Inscríbete</a>
            </div>
        </div>
    </section>

    <!-- Events -->
    <section id="classes">
        <div class="contenedor">
            <h2>EVENTOS INCREÍBLES</h2>
            <table>
                <tr>
                    <th>DÍAS</th>
                    <th>LUNES</th>
                    <th>MARTES</th>
                    <th>MIÉRCOLES</th>
                    <th>JUEVES</th>
                    <th>VIERNES</th>
                </tr>
                <tr class="row1">
                    <td>09:00 - 10:00</td>
                    <td></td>
                    <td></td>
                    <td>
                        <p>Yoga</p>
                        <p>Michael Lewis</p>
                    </td>
                    <td>
                        <p>Cardio</p>
                        <p>Donald Cox</p>
                    </td>
                    <td>
                        <p>Body Balance</p>
                        <p>Gloria Parker</p>
                    </td>
                </tr>
                <tr class="row2">
                    <td>10:00 - 12:00</td>
                    <td>
                        <p>Cardio</p>
                        <p>Donald Cox</p>
                    </td>
                    <td>
                        <p>Body Balance</p>
                        <p>Gloria Parker</p>
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        <p>Yoga</p>
                        <p>Michael Lewis</p>
                    </td>
                </tr>
                <tr class="row3">
                    <td>12:00 - 02:00</td>
                    <td>
                        <p>Body Balance</p>
                        <p>Gloria Parker</p>
                    </td>
                    <td>
                        <p>Cardio</p>
                        <p>Donald Cox</p>
                    </td>
                    <td></td>
                    <td>
                        <p>Yoga</p>
                        <p>Michael Lewis</p>
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
    </section>

    <!-- Gallery -->
    <section id="gallery">
        <div class="events-gallery">
            <!-- Images -->
            <div class="events-gallery-images">
                <!-- Image -->
                <div id="photo1" class="photo">
                    <img class="img-hover" src="~/images/home/events/events-cardio1.jpg" alt="" />
                    <div class="oculto">
                        <p>Cardio</p>
                    </div>
                </div>
                <!-- Image -->
                <div id="photo2" class="photo">
                    <img class="img-hover" src="~/images/home/events/events-women1.jpg" alt="" />
                    <div class="oculto">
                        <p>Body Balance</p>
                    </div>
                </div>
                <!-- Image -->
                <div id="photo3" class="photo">
                    <img class="img-hover" src="~/images/home/events/events-yoga1.jpg" alt="" />
                    <div class="oculto">
                        <p>Yoga</p>
                    </div>
                </div>
                <!-- Links -->
                <div class="events-gallery-links">
                    <div class="flex-links">
                        <a href="#">Quiero inscribirme a un evento</a>
                        <a asp-area="" asp-controller="Home" asp-action="Gallery">Ver toda la galería de eventos</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Services -->
    <section id="services">
        <div class="contenedor">
            <h2>SERVICIOS ADICIONALES</h2>
            <div class="service">
                <div class="service-image">
                    <img id="instructorImg" src="~/images/home/professionals/professional-instructor-header.jpg" width="500" alt="" />
                </div>
                <div class="service-text">
                    <h3>INSTRUCTORES</h3>
                    <p>Alienum phaedrum torquatos nec eu, vis detraxit periculis exnihil.</p>
                    <a href="#">Leer más</a>
                </div>
            </div>
            <div class="service">
                <div class="service-text">
                    <h3>FISIOTERAPEUTAS</h3>
                    <p>Alienum phaedrum torquatos nec eu, vis detraxit periculis exnihil.</p>
                    <a href="#">Leer más</a>
                </div>
                <div class="service-image">
                    <img id="physioImg" src="~/images/home/professionals/professional-physiotherapist-header.jpg" width="500" alt="" />
                </div>
            </div>
            <div class="service">
                <div class="service-image">
                    <img id="nutriImg" src="~/images/home/professionals/professional-nutritionist-header.jpg" width="500" alt="" />
                </div>
                <div class="service-text">
                    <h3>NUTRICIONISTAS</h3>
                    <p>Alienum phaedrum torquatos nec eu, vis detraxit periculis exnihil.</p>
                    <a href="#">Leer más</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact -->
    <section id="contact">
        <div class="contenedor">
            <h2>CONTÁCTANOS</h2>
            <div class="info">
                <p><i class="fas fa-phone-alt"></i>(+57) 311 456 9860</p>
                <a href="mailto:soporte@gymadmin.com" class="mail"><i class="fas fa-envelope"></i>soporte@gymadmin.com</a>
            </div>
            <a class="Privacy" asp-area="" asp-controller="Home" asp-action="Privacy">PRIVACIDAD</a>
        </div>
    </section>

    <!-- Scripts -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome/js/fontawesome.js"></script>
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>
