@{
    ViewData["Title"] = "Privacy Policy";
}

<!-- GymAdmin style -->
<link rel="stylesheet" type="text/css" href="~/css/Home/Index.css" />

<div class="privacy-container text-white">
    <h1>@ViewData["Title"]</h1>
    <p>Use this page to detail your site's privacy policy.</p>
</div>
