@model GymAdmin.Models.AddEventViewModel

@{
    ViewData["Title"] = "Create";
}

<!-- GymAdmin style -->
<link rel="stylesheet" type="text/css" href="~/css/forms.css" />
<link rel="stylesheet" type="text/css" href="~/css/Account/Register.css" />
<link rel="stylesheet" type="text/css" href="~/css/Account/EditUser.css" />

<!-- Create form -->
<div id="GymAdminPrincipalContainer">
    <div class="row" id="GymAdminRegisterFormElementsContainer">
        <div class="col-md-12" id="GymAdminFieldsContainer">
        <h2 style="text-align:center;margin-top: 15px;">Crear servicio</h2>
            <form asp-action="Create" id="GymAdminForm">
                <!-- Hidden inputs -->
                <input type="hidden" asp-for="Id" />
                <!-- Validation summary -->
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <!-- Left column -->
                    <div class="col-md-6 GymAdminFormColumn">
                        <!-- Field -->
                        <div class="form-group GymAdminFormElement">
                            <label asp-for="Name" class="control-label GymAdminFormLabel"></label>
                            <input asp-for="Name" value="@Model.Name" class="GymAdminFormInput" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <!-- Field -->
                        <div class="form-group GymAdminFormElement">
                            <label asp-for="DirectorUserName" class="control-label GymAdminFormLabel"></label>
                            <input id="searchDirector" type="search" list="directorsList" asp-for="DirectorUserName" class="GymAdminFormInput" />
                            <datalist id="directorsList">
                                @foreach (var director in Model.Directors)
                                {
                                    <option value="@director.Value">@director.Text</option>
                                }
                            </datalist>
                            <span asp-validation-for="DirectorUserName" class="text-danger"></span>
                        </div>
                    </div>
                    <!-- Right column -->
                    <div class="col-md-6 GymAdminFormColumn">
                        <!-- Field -->
                       <div class="form-group GymAdminFormElement">
                            <label asp-for="StartHour" class="control-label GymAdminFormLabel"></label>
                            <input type="time" asp-for="StartHour" class="GymAdminFormInput" />
                            <span asp-validation-for="StartHour" class="text-danger"></span>
                        </div>
                         <!-- Field -->
                        <div class="form-group GymAdminFormElement">
                            <label asp-for="FinishHour" class="control-label GymAdminFormLabel"></label>
                            <input type="time" asp-for="FinishHour" class="GymAdminFormInput" />
                            <span asp-validation-for="FinishHour" class="text-danger"></span>
                        </div>
                    </div>
                    <!-- Right column -->
                    <div class="col-md-6 GymAdminFormColumn">
                        <!-- Field -->
                        @{
                            var Days = Html.GetEnumSelectList<DayOfWeek>();
                            foreach (var Day in Days)
                            {
                                if (Day.Text == "Monday")
                                {
                                    Day.Text = "Lunes";
                                }
                                else if (Day.Text == "Tuesday")
                                {
                                    Day.Text = "Martes";
                                }
                                else if (Day.Text == "Wednesday")
                                {
                                    Day.Text = "Miércoles";
                                }
                                else if (Day.Text == "Thursday")
                                {
                                    Day.Text = "Jueves";
                                }
                                else if (Day.Text == "Friday")
                                {
                                    Day.Text = "Viernes";
                                }
                                else if (Day.Text == "Saturday")
                                {
                                    Day.Text = "Sábado";
                                }
                                else if (Day.Text == "Sunday")
                                {
                                    Day.Text = "Domingo";
                                }
                            }
                        }
                        <div class="form-group GymAdminFormElement">
                            <label asp-for="Day" class="control-label GymAdminFormLabel"></label>
                            <select asp-for="Day" asp-items="@Days" class="GymAdminFormCombobox"></select>
                            <span asp-validation-for="Day" class="text-danger"></span>
                        </div>
                        <!-- Buttons and links -->
                        <div class="GymAdminRegisterFormButtons form-group">
                            <input type="submit" value="Crear" class="GymAdminFormButton GymAdminFormElement GymAdminFormLabel GymAdminRegisterFormButton" />
                            <button disabled class="GymAdminFormButton">
                                <a asp-action="ShowEvents" class="GymAdminFormElement GymAdminFormLabel GymAdminRegisterFormButton">Cancelar</a>
                            </button>
                        </div>
                        <!-- Buttons and links -->                       
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Scripts -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
<script type="text/javascript">
    $(document).ready(function (){
        $("#searchProfessional").attr("value", null);
    });

    $("#searchProfessional").on("input", function (){
        var selected = $(this).val();
        $(this).attr("value", selected);
    });
</script>
}

