@model GymAdmin.Models.ChangePasswordViewModel

@{
    ViewData["title"] = "Change password";
    Layout = null;
}

<!-- GymAdmin style -->
<link rel="stylesheet" type="text/css" href="~/css/forms.css" />
<link rel="stylesheet" type="text/css" href="~/css/Account/ResetPassword.css" />

<flash dismissable="true" />

<!-- Reset password form -->
<div id="GymAdminPrincipalContainer">
    <div class="row" id="GymAdminResetPasswordFormElementsContainer">
        <div class="col-md-12" id="GymAdminFieldsContainer">
            <form asp-action="ChangePassword" id="GymAdminForm" onsubmit="return jQueryAjaxPost(this);">
                <!-- Validation summary -->
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!-- Field -->
                <div class="form-group GymAdminFormElement">
                    <label asp-for="OldPassword" class="control-label GymAdminFormLabel"></label>
                    <input asp-for="OldPassword" type="password" class="GymAdminFormInput" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <!-- Field -->
                <div class="form-group GymAdminFormElement">
                    <label asp-for="NewPassword" class="control-label GymAdminFormLabel"></label>
                    <input asp-for="NewPassword" type="password" class="GymAdminFormInput" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <!-- Field -->
                <div class="form-group GymAdminFormElement">
                    <label asp-for="ConfirmPassword" class="control-label GymAdminFormLabel"></label>
                    <input asp-for="ConfirmPassword" type="password" class="GymAdminFormInput" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <!-- Buttons and links -->
                <div class="form-group mt-2 GymAdminResetPasswordButtonContainer">
                    <input type="submit" value="Cambiar contraseña" class="GymAdminFormButton GymAdminFormElement GymAdminFormLabel" />
                    <button disable class="GymAdminFormButton">
                        <a asp-action="ViewUser" class="GymAdminFormElement GymAdminFormLabel">Cancelar</a>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Scripts -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
