@model GymAdmin.Models.LoginViewModel

@{
    ViewData["title"] = "Login";
}

<!-- GymAdmin style -->
<link rel="stylesheet" type="text/css" href="~/css/forms.css" />
<link rel="stylesheet" type="text/css" href="~/css/Account/Login.css" />

<flash dismissable="true" />

<!-- Login form -->
<div id="GymAdminPrincipalContainer">
    <div class="row" id="GymAdminLoginFormElementsContainer">
        <div class="col-md-5" id="GymAdminLoginImageContainer">
            <img src="~/images/bg/login-form-image.jpg" width="100%" />
        </div>
        <div class="col-md-7" id="GymAdminFieldsContainer">
            <form asp-action="Login" id="GymAdminForm">
                <!-- Validation summary -->
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!-- Field -->
                <div class="form-group GymAdminFormElement">
                    <label asp-for="Username" class="control-label GymAdminFormLabel"></label>
                    <input asp-for="Username" class="GymAdminFormInput" autocomplete="off" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <!-- Field -->
                <div class="form-group GymAdminFormElement">
                    <label asp-for="Password" class="control-label GymAdminFormLabel"></label>
                    <input asp-for="Password" type="password" class="GymAdminFormInput" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <!-- Field -->
                <div class="form-group mt-2">
                    <div class="form-check">
                        <input asp-for="RememberMe" type="checkbox" class="form-check-input GymAdminFormCheckbox" />
                        <label asp-for="RememberMe" class="form-check-label GymAdminFormLabel GymAdminFormCheckboxLabel"></label>
                    </div>
                    <span asp-validation-for="RememberMe" class="text-warning"></span>
                </div>
                <!-- Buttons and links -->
                <div class="form-group mt-2">
                    <input type="submit" value="Iniciar sesión" class="GymAdminFormButton GymAdminFormElement GymAdminFormLabel" />
                    <button disable class="GymAdminFormButton">
                        <a asp-action="Register" class="GymAdminFormElement GymAdminFormLabel">Registrarse</a>
                    </button>
                    <a onclick="showInPopup('@Url.Action("RecoverPassword", "Account", new{}, Context.Request.Scheme)' , 'Recuperar contraseña')" class="GymAdminFormLink GymAdminFormLabel">¿Has olvidado tu contraseña?</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Scripts -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
