@model GymAdmin.Models.RecoverPasswordViewModel

@{
    ViewData["title"] = "Recover password";
}

<!-- GymAdmin style -->
<link rel="stylesheet" type="text/css" href="~/css/forms.css" />
<link rel="stylesheet" type="text/css" href="~/css/Account/ResetPassword.css" />

<!-- Recover password form -->
<div id="GymAdminPrincipalContainer">
    <div class="row" id="GymAdminResetPasswordFormElementsContainer">
        <div class="col-md-12" id="GymAdminFieldsContainer">
            <form asp-action="RecoverPassword" id="GymAdminForm">
                <!-- Validation summary -->
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!-- Field -->
                <div class="form-group GymAdminFormElement">
                    <label asp-for="Email" class="control-label GymAdminFormLabel"></label>
                    <input asp-for="Email" class="GymAdminFormInput" autocomplete="off" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <!-- Buttons and links -->
                <div class="form-group mt-2 GymAdminResetPasswordButtonContainer">
                    <input type="submit" value="Recuperar contraseña" class="GymAdminFormButton GymAdminFormElement GymAdminFormLabel" />
                    <button disable class="GymAdminFormButton">
                        <a asp-action="Login" class="GymAdminFormElement GymAdminFormLabel">Cancelar</a>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Scripts -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
