@{
    ViewData["title"] = "Error";
}

<!-- GymAdmin style -->
<link rel="stylesheet" type="text/css" href="~/css/forms.css" />
<link rel="stylesheet" type="text/css" href="~/css/Account/Messages.css">

<div id="GymAdminPrincipalContainer">
    <div class="row" id="GymAdminRegisterFormElementsContainer">
        <div class="col-md-12" id="GymAdminFieldsContainer">
            <form asp-action="" id="GymAdminForm">
                <!-- Message -->
                <div class="row">
                    <div class="col-md-12" style="text-align:center;">
                        <h2 style="color:#f2c60d;">Soporte GymAdmin</h2>
                        <h4>
                            <p class="text-danger">¡Ha ocurrido un error!</p>
                            Inténtalo de nuevo
                            <br />
                            Si el problema persiste, pónte en contacto con el sopórte técnico de GymAdmin
                        </h4>
                        <a class="RecoverPasswordLink" asp-action="RecoverPassword" asp-controller="Account">Regresar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Scripts -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
