@{
    ViewData["title"] = "Recover password";
}

<!-- GymAdmin style -->
<link rel="stylesheet" type="text/css" href="~/css/forms.css" />
<link rel="stylesheet" type="text/css" href="~/css/Account/Messages.css">

<div id="GymAdminPrincipalContainer">
    <div class="row" id="GymAdminRegisterFormElementsContainer">
        <div class="col-md-12" id="GymAdminFieldsContainer">
            <form asp-action="" id="GymAdminForm">
                <!-- Message -->
                <div class="row">
                    <div class="col-md-12" style="text-align:center;">
                        <h2 style="color:#f2c60d;">Soporte GymAdmin</h2>
                        <h4>¡Ya casi recuperas tu contraseña! <br /> Te hemos enviado las instrucciones a tu correo electrónico</h4>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Scripts -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
