@model GymAdmin.Models.RecoverPasswordViewModel

@{
    ViewData["title"] = "Recover password";
}

<!-- GymAdmin style -->
<link rel="stylesheet" type="text/css" href="~/css/forms.css" />
<link rel="stylesheet" type="text/css" href="~/css/Account/RecoverPassword.css" />

<!-- Recover password form -->
<div id="PrincipalContainer">
    <div class="row" id="LoginElementsContainer">
        <div class="col-md-12" id="LoginFieldsContainer">
            <form asp-action="RecoverPassword" id="LoginForm">
                <!-- Validation summary -->
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!-- Field -->
                <div class="form-group LoginFormField">
                    <label asp-for="Email" class="control-label FormLabel"></label>
                    <input asp-for="Email" class="FormInput" autocomplete="off" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <!-- Buttons and links -->
                <div class="form-group mt-2">
                    <input type="submit" value="Recuperar contraseña" class="FormButton LoginFormField FormLabel" />
                    <button disable class="GymAdminFormButton">
                        <a asp-action="Login" class="GymAdminFormElement GymAdminFormLabel">Regresar</a>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Scripts -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
