@model GymAdmin.Models.ResetPasswordViewModel

@{
    ViewData["title"] = "Reset password";
}

<!-- GymAdmin style -->
<link rel="stylesheet" type="text/css" href="~/css/forms.css" />
<link rel="stylesheet" type="text/css" href="~/css/Account/ResetPassword.css" />

<flash dismissable="true" />

<!-- Reset password form -->
<div id="GymAdminPrincipalContainer">
    <div class="row" id="GymAdminResetPasswordFormElementsContainer">
        <div class="col-md-12" id="GymAdminFieldsContainer">
            <form asp-action="ResetPassword" id="GymAdminForm">
                <!-- Hidden inputs -->
                <input type="hidden" asp-for="Token" />
                <!-- Validation summary -->
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!-- Field -->
                <div class="form-group GymAdminFormElement">
                    <label asp-for="UserName" class="control-label GymAdminFormLabel"></label>
                    <input asp-for="UserName" class="GymAdminFormInput GymAdminChangeOrResetPasswordInput" autocomplete="off" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <!-- Field -->
                <div class="form-group GymAdminFormElement">
                    <label asp-for="Password" class="control-label GymAdminFormLabel"></label>
                    <input asp-for="Password" type="password" class="GymAdminFormInput GymAdminChangeOrResetPasswordInput" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <!-- Field -->
                <div class="form-group GymAdminFormElement">
                    <label asp-for="ConfirmPassword" class="control-label GymAdminFormLabel"></label>
                    <input asp-for="ConfirmPassword" type="password" class="GymAdminFormInput GymAdminChangeOrResetPasswordInput" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <!-- Buttons and links -->
                <div class="form-group mt-2 GymAdminResetPasswordButtonContainer">
                    <input type="submit" value="Recuperar contraseña" class="GymAdminFormButton GymAdminFormElement GymAdminFormLabel" />
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Scripts -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
