/* General */
body {
    margin: 0;
    padding: 0;
    font-family: Geneva, Tahoma, sans-serif;
}

#blur-bg {
    background-image: url("../../images/bg/message-body-background.jpg");
    background-attachment: fixed;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
}

.pb-3 {
    padding-bottom: 0 !important;
}

.GymAdminHeader {
    margin-bottom: 0 !important;
}

.events-container {
    width: 100%;
    background-color: rgb(44, 43, 44, 0.8);
}

/* Structure */
.EventsPanel {
    width: 100%;
    display: flex;
}

#ViewOptionsAside {
    width: 25%;
    padding: 30px 20px;
    background-color: rgb(13, 13, 13);
}

#ViewEventsSection {
    width: 75%;
}

/* Aside */
.OptionsContainer {
    display: flex;
    flex-direction: column;
}

    .OptionsContainer div {
        width: 100%;
    }

h3.PrincipalTitle {
    color: #f2c60d;
    font-style: italic;
    padding-bottom: 40px;
    border-bottom: 1px solid #f2c60d;
    text-align: center;
}

.SearchingFormContainer {
    padding: 40px 0;
    border-bottom: 1px solid #f2c60d;
}

#SearchingForm {
    display: flex;
    flex-direction: column;
}

.SearchString {
    background-color: transparent;
    border: 1px solid #f2c60d;
    color: #f2c60d;
    transition: all .2s ease-out;
}

    .SearchString:hover, .SearchString:focus {
        border: 1px solid white;
        color: white;
        outline: none !important;
    }

#SearchingSubmitButton {
    margin: 10px auto 0 auto;
    padding: 5px 20px;
    background-color: transparent;
    border: 1px solid #f2c60d;
    color: #f2c60d;
    transition: all .2s ease-out;
}

    #SearchingSubmitButton:hover {
        background-color: #f2c60d;
        color: black;
    }

.FilteringButtonsContainer {
    padding: 40px 0;
    border-bottom: 1px solid #f2c60d;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .FilteringButtonsContainer a:last-child {
        margin-top: 10px;
    }

.FilteringButton {
    padding: 5px 20px;
    background-color: transparent;
    border: 1px solid #f2c60d;
    color: #f2c60d;
    text-decoration: none;
    transition: all .2s ease-out;
}

    .FilteringButton:hover {
        background-color: #f2c60d;
        color: black;
    }

.PaginationButtonsContainer {
    padding: 40px 0;
    border-bottom: 1px solid #f2c60d;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Events Section */
.FilteredEventsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

flash .alert{
    margin: 10px 40px;
}

/* Events */
.EventItemContainer {
    width: 300px;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #f2c60d;
}

.NameContainer {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    text-align: center;
}

    .NameContainer p {
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
        color: #f2c60d;
        margin-bottom: 0 !important;
    }

.EventImage {
    width: 100%;
}

.DescriptionContainer {
    background-color: rgba(0,0,0,0.7);
    padding: 10px;
    height: 120px;
}

.EventDescription {
    color: white;
    text-align: justify;
    margin-bottom: 0 !important;
}

.DateContainer {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    padding: 0 10px 20px 10px;
}

.EventDate {
    color: #f2c60d;
    text-align: center;
    margin-bottom: 0 !important;
}

.DetailsButtonContainer {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    text-align: center;
    height: 40px;
}

.DetailsButton {
    padding: 5px 20px;
    background-color: transparent;
    border: 1px solid #f2c60d;
    color: #f2c60d;
    text-decoration: none;
    transition: all .2s ease-out;
}

    .DetailsButton:hover {
        background-color: #f2c60d;
        color: black;
    }