#blur-bg {
    background-image: url("../../images/bg/edituser-body-background.jpg") !important;
}

/*
    User image
*/
.GymAdminUserImage{
    border-radius: 50%;
    width: 200px;
}

.GymAdminViewUserImageContainer{
    text-align: center;
}
