#blur-bg {
    background-image: url("../../images/bg/login-body-background.jpg");
}

/*
    Containers
*/
#GymAdminLoginFormElementsContainer {
    margin: 0 auto;
    padding: 0;
    width: 900px;
    background-color: transparent;
}

#GymAdminLoginImageContainer {
    margin: 0;
    padding: 0;
}
