/*
    Body
*/
body {
    background-image: url("../../images/login-body-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    backdrop-filter: blur(6px);
}

/*
    Header
*/
.LoginHeader {
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
}

.LoginHeaderBrand {
    font-size: 30px;
}

/*
    Containers
*/
#PrincipalContainer {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    border: none;
    background-color: transparent;
}

#LoginElementsContainer {
    margin: 0 auto;
    padding: 0;
    width: 500px;
    background-color: transparent;
}

#LoginImageContainer {
    margin: 0;
    padding: 0;
}

#LoginFieldsContainer {
    margin: 0;
    padding: 0;
    background-color: rgba(31, 32, 37, 0.8);
    color: white;
}

/*
    Forms
*/
#LoginForm {
    margin: 0;
    padding: 10px 60px 30px 60px;
}

.LoginFormField {
    margin-top: 40px;
}

.FormLabel {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.FormInput {
    width: 100%;
    display: block;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #f2c60d;
    border-bottom: 1px solid #a8a7a7;
    transition: all .2s ease-out;
}

    .FormInput:focus {
        border-bottom-color: #f2c60d;
        outline: none;
    }

    .FormInput:hover {
        border-bottom-color: #f2c60d;
    }

.FormButton {
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #1F2025;
    padding: 10px 20px;
    transition: all .2s ease-out;
}

    .FormButton a {
        color: white;
        text-decoration: none;
    }

    .FormButton:hover {
        color: black;
        background-color: #f2c60d;
    }

        .FormButton:hover a {
            color: black;
        }

.FormLink {
    margin: 20px;
    display: block;
    color: white;
    text-decoration: none;
    transition: all .2s ease-out;
}

    .FormLink:hover {
        color: #f2c60d;
    }

.FormCheckbox:checked {
    background-color: #9a6900;
}

.FormCheckbox:hover ~ .FormCheckboxLabel {
    color: #f2c60d;
}

.FormCheckbox:checked ~ .FormCheckboxLabel {
    color: #f2c60d;
}

.FormCheckboxLabel {
    transition: all .2s ease-out;
}
