/*
    Containers
*/
#GymAdminResetPasswordFormElementsContainer {
    margin: 0 auto;
    padding: 0;
    width: 450px;
    background-color: transparent;
}

.GymAdminResetPasswordButtonContainer{
    margin-bottom: 10px;
}