/*
    Body
*/
body {
    background-image: url("../../images/bg/viewuser-body-background.jpg") !important;
}

/*
    Inputs
*/
.GymAdminFormInput {
    border-bottom-color: transparent !important;
    text-align: center !important;
}

.GymAdminFormButton{
    margin-top: 20px !important;
}

.GymAdminFormColumn{
    text-align: center !important;
}

.GymAdminRegisterFormButtons {
    text-align: center !important;
}