h1 {
    font-size: 70px;
    font-style: italic;
    font-weight: bold;
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
    position: relative;
    z-index: 3;
}

h2 {
    text-align: center;
    font-size: 60px;
    font-style: italic;
    font-weight: bold;
    color: white !important;
}
