/*
    Containers
*/
#GymAdminPrincipalContainer {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    border: none;
    background-color: transparent;
}

#GymAdminFieldsContainer {
    margin: 0;
    padding: 0;
    background-color: rgba(31, 32, 37, 0.8);
    color: white;
}

/*
    Forms
*/
#GymAdminForm {
    margin: 0;
    padding: 10px 60px;
}

.GymAdminFormElement {
    margin-top: 35px;
}

.GymAdminFormLabel {
    font-family: Geneva, Tahoma, sans-serif;
    font-weight: 300;
}

.GymAdminFormInput {
    width: 100%;
    display: block;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #f2c60d;
    border-bottom: 1px solid #a8a7a7;
    transition: all .2s ease-out;
}

    .GymAdminFormInput:focus {
        border-bottom-color: #f2c60d;
        outline: none;
    }

    .GymAdminFormInput:hover {
        border-bottom-color: #f2c60d;
    }

.GymAdminFormTextArea {
    width: 100%;
    display: block;
    margin-top: 5px;
    background-color: transparent;
    border-top: 1px solid #a8a7a7;
    border-left: 1px solid #a8a7a7;
    border-right: 1px solid #a8a7a7;
    border-bottom: 1px solid #a8a7a7;
    color: #f2c60d;
    transition: all .2s ease-out;
}

    .GymAdminFormTextArea:focus {
        border-top-color: #f2c60d;
        border-bottom-color: #f2c60d;
        border-right-color: #f2c60d;
        border-left-color: #f2c60d;
        outline: none;
    }

    .GymAdminFormTextArea:hover {
        border-top-color: #f2c60d;
        border-bottom-color: #f2c60d;
        border-right-color: #f2c60d;
        border-left-color: #f2c60d;
    }

.GymAdminFormCombobox {
    width: 100%;
    display: block;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #f2c60d;
    border-bottom: 1px solid #a8a7a7;
    transition: all .2s ease-out;
}

    .GymAdminFormCombobox option {
        background-color: rgba(0,0,0,0.8) !important;
    }

    .GymAdminFormCombobox:focus {
        border-bottom-color: #f2c60d;
        outline: none;
    }

    .GymAdminFormCombobox:hover {
        border-bottom-color: #f2c60d;
    }

.GymAdminFormButton {
    padding: 0;
    display: inline;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #1F2025;
    transition: all .2s ease-out;
}

input.GymAdminFormButton {
    padding: 10px 20px;
    display: inline;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #1F2025;
    transition: all .2s ease-out;
}

.GymAdminFormButton a, .GymAdminFormButton span {
    display: block !important;
    margin: 0;
    padding: 10px 20px;
}

.GymAdminFormButton a, .GymAdminFormButton span {
    color: white;
    text-decoration: none;
}

.GymAdminFormButton:hover {
    color: black;
    background-color: #f2c60d;
}

    .GymAdminFormButton:hover a {
        color: black;
    }

    .GymAdminFormButton:hover span {
        color: black;
    }

.GymAdminFormLink {
    margin: 20px;
    display: block;
    color: white;
    text-decoration: none;
    transition: all .2s ease-out;
}

    .GymAdminFormLink:hover {
        color: #f2c60d;
    }

.GymAdminFormCheckbox:checked {
    background-color: #9a6900;
}

.GymAdminFormCheckbox:hover ~ .GymAdminFormCheckboxLabel {
    color: #f2c60d;
}

.GymAdminFormCheckbox:checked ~ .GymAdminFormCheckboxLabel {
    color: #f2c60d;
}

.GymAdminFormCheckboxLabel {
    transition: all .2s ease-out;
}
