/* Body and Html */
html, body {
    height: 100%;
}

html {
    overflow: auto;
}

body {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(6px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

/* Header */
.GymAdminHeader {
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    padding-top: 0;
    padding-bottom: 0;
}

.GymAdminHeaderBrand {
    padding: 0 0 0 20px;
    color: white;
    font-size: 23px;
    transition: all .2s ease-out;
    text-decoration: none;
}

    .GymAdminHeaderBrand:hover {
        color: #f2c60d !important;
    }

.GymAdminHeaderLink {
    padding: 0 0 5px 0 !important;
    font-size: 15px;
    color: white;
    border-bottom: 1px solid transparent;
    transition: all .2s ease-out;
    text-decoration: none;
}

    .GymAdminHeaderLink:hover {
        color: #f2c60d !important;
        border-bottom: 1px solid #f2c60d;
    }

.nav-item {
    margin: 0 0 0 15px;
    padding: 0;
}

.container-fluid {
    padding: 0;
    margin: auto 0;
}

.right-menu {
    display: flex;
    margin: 16px 0;
    padding: 0 20px;
}

/* Content */
.container {
    margin-bottom: 24px;
}
