/* Body and Html */
html, body {
    height: 100%;
}

html {
    overflow: auto;
}

body {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(6px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    overflow-x: hidden;
}

div.col-md-12{
    border-radius:10px;
}

a, .GymAdminFormButton {
    cursor: pointer !important;
}

/* Webkit */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(75%) sepia(92%) saturate(711%) hue-rotate(354deg) brightness(98%) contrast(94%);
}

input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(75%) sepia(92%) saturate(711%) hue-rotate(354deg) brightness(98%) contrast(94%);
}

/* Header */
.GymAdminHeader {
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    padding-top: 0;
    padding-bottom: 0;
}

.GymAdminHeaderBrand {
    padding: 0 0 0 20px;
    color: white;
    font-size: 23px;
    transition: all .2s ease-out;
    text-decoration: none;
}

    .GymAdminHeaderBrand:hover {
        color: #f2c60d !important;
    }

.GymAdminHeaderLink {
    padding: 0 0 5px 0 !important;
    font-size: 15px;
    color: white;
    border-bottom: 1px solid transparent;
    transition: all .2s ease-out;
    text-decoration: none;
}

    .GymAdminHeaderLink:hover {
        color: #f2c60d !important;
        border-bottom: 1px solid #f2c60d;
    }

.nav-item {
    margin: 0 0 0 15px;
    padding: 0;
}

.container-fluid {
    padding: 0;
    margin: auto 0;
}

.right-menu {
    display: flex;
    margin: 16px 0;
    padding: 0 20px;
}

.left-nav {
    display: flex;
    align-items: center;
}

    .left-nav a {
        text-decoration: none !important;
        color: white !important;
        transition: all .2s ease-out !important;
    }

        .left-nav a:hover {
            color: #f2c60d !important;
        }

        .left-nav a.admin-link {
            position: relative;
            padding-bottom: 5px;
            border-bottom: 1px solid transparent;
            margin-bottom: 10px;
            width: 100%;
            text-align: center;
        }

            .left-nav a.admin-link:hover {
                border-bottom: 1px solid #f2c60d;
            }

    .left-nav span {
        color: white !important;
        transition: all .2s ease-out !important;
    }

        .left-nav span:hover {
            color: #f2c60d !important;
        }

        .left-nav span.admin-link {
            position: relative;
            top: 2px !important;
            padding-bottom: 5px;
            margin-left: 10px;
        }

header a {
    font-weight: 400;
}

.dropdown-gymadmin {
    display: block;
    padding: 16px 0;
}

.dropdown-content-gymadmin {
    box-sizing: content-box !important;
    visibility: hidden;
    position: absolute;
    background-color: rgba(0,0,0);
    opacity: 0;
    min-width: 160px !important;
    padding: 6px 16px 20px 16px;
    margin-top: 16px;
    z-index: 1;
    transition: visibility .2s ease-out !important;
    transition: opacity .2s ease-out !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-gymadmin:hover .dropdown-content-gymadmin {
    opacity: 0.8;
    visibility: visible;
}

/* Content */
.container {
    margin-bottom: 24px;
}

/* Corrections */
tbody tr{
    background-color: transparent !important;
}