@model IEnumerable<GymAdmin.Data.Entities.PlanInscription>

@{
    ViewData["Title"] = "Plans";
}

<!-- GymAdmin style -->
<link rel="stylesheet" type="text/css" href="~/css/tables.css" />
<link rel="stylesheet" type="text/css" href="~/css/User/Users.css" />

<style>
    h3 .fa-hand-fist {
        padding-right: 0;
        padding-left: 10px;
    }

    #MyTable th, .td_option {
        text-align: center;
    }
</style>

<flash dismissable="true" />

<!-- Plans -->
<div class="row">
    <div class="col-md-12 GymAdminTableContainer">
        <div class="panel panel-default">
            <div class="panel-heading GymAdminTableHeading">
                <h3 class="panel-title GymAdminTableTitle">Suscripciones a planes<i class="fa-solid fa-hand-fist"></i></h3>
            </div>
            <div class="panel-body GymAdminTable">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <!-- Text -->
                    <thead>
                        <tr>
                            <th>
                                Usuario
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Plan
                            </th>
                            <th>
                                Estado
                            </th>
                            <th>
                                Fecha de activación
                            </th>
                            <th>
                                Valor pagado
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <!-- Values -->
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="GymAdminTableTr">
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Plan.Name)
                                </td>
                                @{
                                    var Status = "";
                                    if (item.PlanStatus == GymAdmin.Enums.PlanStatus.Active)
                                    {
                                        Status = "Activo";
                                    }
                                    if (item.PlanStatus == GymAdmin.Enums.PlanStatus.Expired)
                                    {
                                        Status = "Expirado";
                                    }
                                    if (item.PlanStatus == GymAdmin.Enums.PlanStatus.Cancelled)
                                    {
                                        Status = "Cancelado";
                                    }
                                }
                                <td>
                                    @Status
                                </td>
                                @{
                                    var ActDay = item.ActivationDate.ToString(@"dd/MM/yyyy");
                                }
                                <td>
                                    @ActDay
                                </td>
                                @{
                                    string tp = $"{item.TotalPrice:C2}";
                                }
                                <td>
                                    @tp
                                </td>
                                <td class="td_option">
                                    <a asp-action="DetailsPlanInscription" asp-route-id="@item.Id" class="btn btn-outline-info">Detalles</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_CancelDialog" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        $(document).ready(function() {
            $('#MyTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "aLengthMenu": [
                    [15, 30, 60, 120, -1],
                    [15, 30, 60, 120, "Todos"]
                ]
            });
        });
    </script>
    <script>
        sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Plan/CancelPlan/', false);
    </script>
}
